language: c
sudo: required
dist: bionic

addons:
    apt:
        packages:
            - g++
            - nasm
            - gcc-powerpc-linux-gnu
            - gcc-arm-none-eabi
cache:
    directories:
        - ./Qemu
matrix:
  include:
    - compiler: gcc
      env: COMPILER=g++-7

before_install:
    - if [ "$TRAVIS_OS_NAME" = "linux"  ]; then sudo apt-get -qq update;    fi

script: ./.build-travis.sh
